
    <nav class="navbar  navbar-dark bg-dark navbar-expand-md sticky-top">
      
        <a class="navbar-brand" href="index.ejs">
            <img src="../img/logo.png" width="150" height="130" alt="logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler01">
            <div class="navbar-nav mr-auto text-center">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="#">Contacto</a>
            </div>
            <div class="navbar-nav text-center">
                <a class="nav-item nav-link" href="#">Ingresar</a>
                <a class="nav-item nav-link" href="/users/register">Registrarse</a>
                <a class="nav-item nav-link" href="#">
                   <i class="fa fa-shopping-cart fa-1x"></i>
                </a>
            </div>
        </div>
        <form class="form-inline mr-sm-12 mr-md-12 mr-lg-12" action="">
            <input class="form-control " type="text" placeholder="Buscar">
            <button class="btn btn-success" type="submit"><i class="fa fa-search " aria-hidden="true"></i></button>
        </form>
    </nav>

  

    
  