<!DOCTYPE html>
<html lang="es">



    <%- include('./partials/head.ejs')%>
   
<body >
    
  <%- include('./partials/header.ejs')%>
    <!-- Fin Menu------------------------------------------------------------>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12"id="titulo-detalleP">
                
                
            </div>
        </div>

        <div class="row">
            <div class="col-6"id="foto-detalleP">
                <img  src="/img/productos/vino1.jpg" alt=!vino1" >
                <p id="agregar">Agregar al carrito<i class="fas fa-cart-plus" style='color:whitesmoke'></i></p>
            </div>
            
            <div class='col-6'id='descripcion'>
                <h2> Clase: Vino Tino - Cavernet Souvenion </h2>
                <h2 class='price' >$150.970</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, labore deleniti vero dolore quisquam adipisci a provident dolorem natus molestiae 
                    culpa corrupti est consequuntur sint aperiam voluptates nobis nemo eius.
                    
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus totam nisi, eius expedita corrupti provident qui ipsum accusamus ullam voluptatum
                    iste maiores harum aspernatur reiciendis alias. Saepe accusamus reprehenderit odio.
                </p>
            </div>
            
        </div>
        
    </div>
    

    <!-- Inicio Fotter---------------------------------------------------------->
    <%- include('./partials/footer.ejs')%>
  
    <!-- Fin Fotter-------------------------------------------------------------->
   
</div> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>