<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/font-awesome/css/font-awesome.min.css">
    <title>Wine Store</title>
</head>

<body>
    <%- include('./partials/header.ejs')%>
    
    <br>
    <br>
    <br>

    <%- include('./partials/footer.ejs') %>

    <script src="../public/javascripts/jquery.js"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
    <script src="../public/javascripts/popper.js"></script>
</body>

</html>