
<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/header.ejs')%>


<section class= 'container-fluid'>   
    <h2 class='productos-h2'>Vinos exclusivos</h2>
 <div class='row'> 

    

   <div  class='col-sm-12 col-md-6 col-lg-3'>
    <article class='productos'>
        <img  src='/img/productos/vino1.jpg' alt='vino1' class='foto-producto'>
        <h2 class='price' >$150.970</h2>
        <p class='descuento'>10% OFF</p>
        <p>Agregar al carrito<i class="fas fa-cart-plus"></i></p>
        <a href='/products/detalleProducto'><p> Saber m치s<i class="fas fa-hand-point-right"></i> </p></a>
        
    </article>     
     </div>  
     
    <div  class='col-sm-12 col-md-6 col-lg-3'>
    <article class='productos'>
        
        <img  src='/img/productos/vino2.jpg' alt='vino2' class='foto-producto'>
        
        <h2 class='price' >$254.230</h2>
       
        <p class='descuento'> <br></p>
        <p>Agregar al carrito<i class="fas fa-cart-plus"></i></p>
        <a href='/products/detalleProducto'><p> Saber m치s<i class="fas fa-hand-point-right"></i> </p></a>
        
    </article>
    </div> 

    <div  class='col-sm-12 col-md-6 col-lg-3'>
    <article class='productos'>
        <img  src='/img/productos/vino3.png' alt='vino3' class='foto-producto'>
        <h2 class='price'>$389.410</h2>
        <p class='descuento' >20% OFF</p>
        <p>Agregar al carrito<i class="fas fa-cart-plus"></i></p>
        <a href='/products/detalleProducto'><p> Saber m치s<i class="fas fa-hand-point-right"></i> </p></a>
      </article>   
      </div> 


      <div  class='col-sm-12 col-md-6 col-lg-3' >
        <article  class='productos'>
            
            <br>
            <img  src='/img/productos/vino4.png' alt='vino4' class='foto-producto'>
            <br>
            <br>
            <h2 class='price'>$406.770</h2>
            <p class='descuento'>40% OFF</p>
        
            <p>Agregar al carrito<i class="fas fa-cart-plus"></i></p>
            <a id="a" href='/products/detalleProducto'><p> Saber m치s<i class="fas fa-hand-point-right"></i></p></a>
        </article>
       </div>  


    
    </div>

</section>

<%- include('./partials/footer.ejs')%>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>

</html>