<!DOCTYPE html>
<html lang="es">



<%- include('./partials/head.ejs')%>

<body >
    
    <%- include('./partials/header.ejs')%>
    <!-- Fin Menu------------------------------------------------------------>
    
    
    
    <!-- Fin Menu------------------------------------------------------------>
    
    <!-- Formulario de Registro -------------------------------------->
  <div class='container-fluid' id='registroC' >
      <div class='row' id='form'>
          <div class="sm-col-4 md-col-12 lg-col-8" id="registro">
                 
                    <h3>Registrarse</h3>
                    
                    <p>¿Ya estás registrado? <a href='ingreso'>Entrar aquí</a></p>
    
                    
                    <form action='#'method='post' >
                        
                        <p><label for='Nombre'>Nombre</label></p>
                        <p><input type='text' name='nombre' id='Nombre'   class='uno'></p>
                        
                        
                        <p><label for='Apellido'>Apellido</label></p>
                        <p><input type='text' name='apellido' id='Apellido'   class='uno'></p>
                        
                        <p><label for='email'>Email</label></p>
                        <p><input type='email' name='email' id='email'   class='uno'></p>
                        
                        
                        <p><label for='contraseña'>Contraseña</label></p>
                        <p> <input type='password' name='contraseña' id='contraseña' class='uno'></p> 
                        
                        <p><label for='avatar'>Avatar</label></p>
                        <p class='avatar'><input type='file' name='avatar' id='avatar'class='dos' ></p>
                        
                        <p><button type="button" class="btn btn-primary">Enviar</button></p>
                       
                        
                    </form>
               
               
            </div>
     </div> 
    </div>
    
    
    
    <!-- Inicio Fotter---------------------------------------------------------->
    <%- include('./partials/footer.ejs')%>
    <!-- Fin Fotter-------------------------------------------------------------->
    
</body>

</html>