<%- include('./partials/head.ejs')%>
<%- include('./partials/header.ejs')%>
  <div class="row justify-content-center align-items-center">
  <div class="col-12 col-md-4 text-center pt-5 pb-5">
    <% if(data.Formulario == 'UsuarioRegistrado') { %>
        <h3 class="pb-3">Ingresar</h3>
        <form action="/login" method="post">
        <div class="form-group">
          <label for="nombre">Email:</label>
          <input type="email" name="email" id="email" class="form-control" />
        </div>
        <div class="form-group">
          <label for="descripcion">Contraseña:</label>
          <input class="form-control" type="password" name="contraseña" id="contraseña"/>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Confirmar</button>
      </form>
    <% } %>
    <% if(data.Formulario == 'FormularioRegistro') { %>
      <h3 class="pb-3">Registrarse</h3>
        <form action="register" method="post" >
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre"/>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido"/>
          </div>
          <div class="form-group">
            <label for="mail">Email:</label>
            <input type="email" class="form-control" id="mail" name="email"/>
          </div>
          <div class="form-group">
            <label for="contrasenia">Contraseña:</label>
            <input type="password" class="form-control" id="contrasenia" name="contrasenia"/>
          </div>
          <div class="form-group">
            <label for="contrasenia2">Confirme Contraseña:</label>
            <input type="password" class="form-control" id="contrasenia2" name="contrasenia2"/>
          </div>
          <div class="form-group">
            <label for="categoria">Categoria:</label>
            <input type="text" class="form-control" id="categoria" name="categoria"/>
          </div>
          <div class="form-group">
            <div class="input-group justify-content-center align-items-center">
                <label class="input-group-btn">
                    <span class="btn btn-secondary btn-file">
                        Subir Imagen <input accept=".jpg,.png,.jpeg,.gif" name="imagen" type="file" id="Imagen" class="hidden">
                    </span>
                </label>
            </div>
          </div>
            <button type="submit" class="btn btn-success mt-3">Confirmar</button>
        </form>
    <% } %>
    </div>
  </div>

<%- include('./partials/footer.ejs') %>

