/* ## GABRIELA ## */

*{
  box-sizing: border-box;

}

a {
  color:#712B42;
 
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* Colores */
.fucsia{
  background-color: #C23C5E;
}
.bordo{
  background-color: #712B42;
}
.negro{
  background-color: #0C0910;
}
.beige{
  background-color: #DAC9C1;
}
.marron{
  background-color: #726765;
}
/*----menu de navegación----*/
.nav-item.nav-link{
      color : #C23C5E !important;
      font-size: 16px;
      }
/*----footer----*/
.pie-footer{
      background-color : #C23C5E !important;
      color: white;
      }
.pie-footer h6{
     font-size: 12px;
      }













































































































 /* ## MARIELA ## */
  
  /* ## productos## */
  
  

.gris-claro{
  background-color: #ebebeb;
}

.container-fluid{

  background-color: #DAC9C1 ;
}
.productos{
  height: 85vh;;
  border:solid;
  border-radius: 5px;
  border-color:#712B42 ;
  border-width: 10px;
  background-color:#ebebeb;
  margin:10px 3px;
  padding:5px 15px;
  color:#0C0910;
  
   
}

.price{
  margin-top: 15px;
  margin-left: 10px;
  
}

.fa-cart-plus{
  margin-left: 5px;
  color:#C23C5E
}




  .price{
      font-size: 0.95em;
      
  }


  .fa-hand-point-right{
      margin-left: 3px;
      color: #712B42;
  }


  @media(max-width:1440px){

  .foto-producto{
          position: relative;
          right:6px;
          width: 90%;
          padding-top: 30px;
 
      }
      
      .descuento{
 
         position: relative;
         left: 100px;
         bottom:24px;
         font-size: 0.95em;
 
      }


  

  .price{
      font-size: 0.95em;
  }

}

@media(max-width:1000px){
  .foto-producto{
      position: relative;
      right:6px;
      width: 90%;

  }
  
  .descuento{

     position: relative;
     left: 66px;
     bottom:23px;
     font-size: 0.8em;
  }

  .price{
      font-size: 0.8em;
  }

}


@media(max-width:991px){
  .foto-producto{
      position: relative;
      left:30px;
      bottom:22px;
      width:34%;

  }
  
  .descuento{

     position: relative;
     left: 185px;
     bottom:26px;
     
  }

  

}

@media(max-width:576px){
.foto-producto{
   position: relative;
   left:45px

}

.descuento{

  position: relative;
  left: 172px;
  bottom:20px;

}
}




@media(max-width:460px){
  .foto-producto{
      position: relative;
      left:15px

  }
  
  .descuento{

     position: relative;
     left: 185px;
     bottom:36px;

  }
 }

 /* ## fin productos## */
 .detalleProducto{
      height: 85vh;
      
      border:solid;
      border-radius: 5px;
      border-color:#712B42 ;
      border-width: 5px;
      background-color:#ebebeb;
      margin:10px 3px;
      padding:25px 15px;
      color:#0C0910;

      padding-top: 100px;
      text-align: center;

      
       
    }

    .producto{
      height: 85vh;;
      border:solid;
      border-radius: 5px;
      border-color:#712B42 ;
      border-width: 10px;
      background-color:#ebebeb;
      margin:10px 3px;
      padding:50px 15px;
      color:#0C0910;
      
       
    }

    @media(max-width:1440px){

      .foto-producto{
              
              width: 35%;
              position: relative;
              left:100px;
              
     
          }

          
      }


 /* ## Registro## */

 
 .avatar{

  position:relative;
  right:50px;
}
   
    
#registro{
margin-top: 20px;
margin-bottom: 20px;
padding-top:30px;
padding-bottom: 30px;
border:solid;
border-color:  #712B42;
border-radius: 5px;
background-color: #DAC9C1;
padding-left: 100px

}
#form{
justify-content: center;
}

.dos{

border:solid;
border-radius: 5px;
border-color: #712B42;
}
.uno{
border:solid;
border-radius: 5px;
border-color: #712B42;
height:7vh;
width: 80%;


}

.btn-primary{

    background-color: #712B42 ;
    border-color: #712B42;
    
}

.btn-primary:hover{
  background-color:  #0C0910 ;
  border-color:  #0C0910;

}


#registroC{
   background-color:#6567;
}

@media(max-width:768px){

.avatar{
position:relative;
right:15px;
font-size: 0.8em;
}

}
@media(max-width:425px){

#registro{

padding-left: 20px;


}
}



 /* ## index## */

 #index-back{
  border:solid;
  border-width: 10px;
  border-radius: 5px;
  border-color:#712B42; 
  background-color: #DAC9C1;
  padding-top: 100px;
  padding-bottom: 100px;
  


}

#logo-index{
  width: 30%;
  
}

.copa{
  width: 50%;
  position: relative;
  left:100px;
  border:solid;
  border-radius: 5px;
  border-color:#712B42 ;
}

#div-arriba{

 padding-bottom: 50px;
 color:#0C0910;
 text-align: center;
 
}
.h4-index{

color:#0C0910;
 text-align: left;
}
#div-abajo{

 margin-left: 100px;
 
}
#form{

 text-align: left;
 
}

#copa{
  position: relative;
  left:150px;
}

.btnS{
 position: relative;
 left:50px;
}

.btnN{

 position: relative;
 left:150px;
 bottom: 54px;
}

@media(max-width:768px){

.copa{
 width: 60%;
 position: relative;
 left:20px;
 
}
.h4-index{

font-size:0.9em;
 }
 #div-abajo{

  margin-left: 50px;
  
 }
 .btnS{
   position: relative;
   left:6px;
  }

  .btnN{

   position: relative;
   left:80px;
   bottom: 54px;
  }
}

@media(max-width:768px){

#arriba{

font-size: 1.5em;
}

#div-abajo{

margin-left: 5px;

}


}

@media(max-width:768px){
.btn-primary{
 width: 35%;
}
.h4-index{

 font-size: 0.8em;

}
}


/* ## DetalleProducto## */
    
  

#titulo-detalleP{

  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color:#0C0910;
  background-color:#DAC9C1 ;
}

#foto-detalleP{
  padding-top:50px;
  padding-left: 25px;
  background-color: #712B42;
  color:whitesmoke;
  margin-bottom: 10px;
}

#descripcion{

  text-align: center;
  background-color:#DAC9C1 ;
  margin-bottom: 10px;
  padding-top: 30px;
}

#agregar{
  margin-top: 10px;
  position: relative;
  left:80px;
}

@media(max-width:540px){


  #descripcion h2{
    font-size: 1.25em;

  }

  #descripcion{
    font-size: 0.8em;
  }

  #agregar{
    
    position: relative;
    left:10px;
  }


#titulo-detalleP h2{

font-size: 1.25em;
}

#foto-detalleP{
  
  padding-left: 5px;
  
}



}




























































